go 1.19

use (
	./example
	./fx/genqlient
	./fx/gin
	./fx/gin/newrelic
	./fx/gin/newrelic/zerolog
	./fx/http/client
	./fx/http/client/newrelic
	./fx/newrelic
	./fx/recipes/standard
	./fx/zerolog
	./fx/zerolog/newrelic
	./gqlgen
)
